<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(discussion_topic) -%>">
  <span class='title'>
    <%= discussion_topic.name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), topic_url(discussion_topic),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_discussion_topic_path(discussion_topic),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_discussion_topic_path(discussion_topic),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :'data-confirm' => t('shared.admin.delete.message', :title => discussion_topic.name),
        :'data-method' => :delete %>
  </span>
</li>
