<% content_for :title, @discussion.title %>

<% content_for :content do %>
  
  <section>
    <%=raw @discussion.body %>
  </section>
  
  <% if owner? -%>
    <p>
      <% verb = @discussion.closed ? 'Open' : 'Close' %>
      <%= link_to "#{verb} this discussion", open_or_close_topic_discussion_path(@discussion.topic, @discussion), :rel => 'nofollow' %>
    </p>
  <% end -%>
  
  <% if @discussion.allows_replies? -%>
    <p><%= link_to 'Reply', new_topic_discussion_reply_path(@discussion.topic, @discussion) %></p>
  <% else -%>
    <p>Sorry, this discussion was closed by <%= @discussion.closed_by %></p>
  <% end -%>
  
  <% if (@replies = @discussion.replies).any? -%>
    <aside id="replies">
      <h2><%= pluralize(@replies.size, 'reply') %></h2>
      <% @replies.each do |reply| -%>
        <%= div_for reply do -%>
          <%= simple_format reply.body %>
        <% end -%>
      <% end -%>
    </aside>
  <% else -%>
    <p>No replies yet.</p>
  <% end -%>
  
  
  
<% end %>

<%= render :partial => "/shared/content_page" %>
