<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(discussion) -%>">
  <span class='title'>
    <%= discussion.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), topic_discussion_url(discussion.topic, discussion),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_discussion_path(discussion),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_discussion_path(discussion),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :'data-confirm' => t('shared.admin.delete.message', :title => discussion.title),
        :'data-method' => :delete %>
  </span>
</li>
