<h1>Replying to:</h1>
<h2><%= @discussion.title %></h2>
<section>
  <%=raw @discussion.body %>
</section>

<% form_for @discussion_reply, :url => topic_discussion_replies_path(@topic, @discussion) do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
    :object => @discussion_reply,
    :include_object_name => true
  } %>

  <div class='field'>
    <%= f.text_area :body, :size => '40x10' -%>
  </div>
  <p>
    <%= f.check_box :terms %> <%= f.label :terms, 'I accept the terms for posting on the Chainlink', :class => 'stripped' %>
  </p>

  <%= f.submit 'Reply' %>
<% end -%>